In [3]:
import pandas as pd
import numpy as np

# dictionary of lists 
dict = {'First Score':[100, 90, np.nan, 95], 
        'Second Score': [30, 45, 56, np.nan], 
        'Third Score':[np.nan, 40, 80, 98]} 
  
# creating a dataframe from list 
df = pd.DataFrame(dict) 
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [4]:
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [7]:
df.isna()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [13]:
pwd

'C:\\Users\\Venkata Sai\\Desktop\\PYTHON\\pandas'

In [33]:
import pandas as pd
file_path = 'C:\\Users\\Venkata Sai\\Desktop\\PYTHON\\Data\\'
df = pd.read_csv(file_path+'employees.csv')
df.shape

(1000, 8)

In [34]:
df.info("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [52]:
# creating bool series False for NaN values 
#bool_series = pd.notnull(df["Gender"]) 
  
# displayed data only with team = NaN 
df["Gender"].isnull().sum()
df.isnull().any()

First Name            True
Gender                True
Start Date           False
Last Login Time      False
Salary               False
Bonus %              False
Senior Management     True
Team                  True
dtype: bool

In [46]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

First Name            67
Gender               145
Senior Management     67
Team                  43
dtype: int64

In [48]:
df.isnull().mean() * 100

First Name            6.7
Gender               14.5
Start Date            0.0
Last Login Time       0.0
Salary                0.0
Bonus %               0.0
Senior Management     6.7
Team                  4.3
dtype: float64

In [53]:

print(df[df["Gender"].isnull()][null_columns])

    First Name Gender Senior Management                  Team
20        Lois    NaN              True                 Legal
22      Joshua    NaN              True       Client Services
27       Scott    NaN             False                 Legal
31       Joyce    NaN             False               Product
41   Christine    NaN              True  Business Development
49       Chris    NaN             False                 Sales
51         NaN    NaN               NaN                 Sales
53        Alan    NaN              True               Finance
60       Paula    NaN             False          Distribution
64    Kathleen    NaN             False  Business Development
69       Irene    NaN              True               Finance
70        Todd    NaN             False       Client Services
80      Gerald    NaN              True                 Sales
86       Annie    NaN              True  Business Development
90      Janice    NaN              True                 Legal
91       James    NaN             False                   NaN
93    Virginia    NaN              True                 Legal
97       Laura    NaN              True             Marketing
108    Russell    NaN              True                 Legal
121   Kathleen    NaN             False               Product
143     Teresa    NaN              True           Engineering
144     Nicole    NaN             False                 Sales
148    Patrick    NaN              True                 Sales
151    Brandon    NaN             False  Business Development
153     Victor    NaN              True               Finance
159      James    NaN             False             Marketing
161    Marilyn    NaN             False          Distribution
168      Peter    NaN              True             Marketing
174        NaN    NaN               NaN       Client Services
183       Ruth    NaN              True          Distribution
..         ...    ...               ...                   ...
769     Samuel    NaN              True             Marketing
783        NaN    NaN               NaN               Product
788   Michelle    NaN             False  Business Development
792       Anne    NaN             False          Distribution
795    Theresa    NaN              True       Human Resources
815      Maria    NaN             False       Human Resources
825     Robert    NaN              True                 Sales
826        NaN    NaN               NaN                   NaN
827      Jesse    NaN             False                 Legal
834       Carl    NaN              True  Business Development
844      Maria    NaN             False                 Legal
847     Nicole    NaN             False               Finance
855    Phillip    NaN              True                   NaN
856     Bonnie    NaN             False               Finance
870    Cynthia    NaN             False             Marketing
876      Terry    NaN             False             Marketing
880     Robert    NaN             False               Finance
882       Sara    NaN              True          Distribution
895     Janice    NaN             False  Business Development
897    Kenneth    NaN             False               Finance
923      Irene    NaN             False  Business Development
937      Aaron    NaN             False       Client Services
938       Mark    NaN             False       Client Services
939      Ralph    NaN             False       Client Services
945     Gerald    NaN              True          Distribution
961    Antonio    NaN             False                 Legal
972     Victor    NaN              True                 Sales
985    Stephen    NaN             False                 Legal
989     Justin    NaN             False                 Legal
995      Henry    NaN             False          Distribution

[145 rows x 4 columns]

AttributeError: 'NoneType' object has no attribute 'head'

In [51]:

print(df[df.isnull().any(axis=1)][null_columns].head())

   First Name  Gender Senior Management             Team
1      Thomas    Male              True              NaN
7         NaN  Female               NaN          Finance
10     Louise  Female              True              NaN
20       Lois     NaN              True            Legal
22     Joshua     NaN              True  Client Services

In [54]:
data = pd.read_csv('https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv')
data.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [59]:
nan_columns = data.columns[data.isnull().any()]
nan_columns

Index(['Edition Statement', 'Date of Publication', 'Publisher', 'Author',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver'],
      dtype='object')

In [63]:
data.drop(nan_columns,axis =1,inplace =True)

In [64]:
data.head()

,Identifier,Place of Publication,Title,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,Walter Forbes. [A novel.] By A. A,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London; Virtue & Yorston,All for Greed. [A novel. The dedication signed...,"BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,Love the Avenger. By the author of “All for Gr...,"BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,"Welsh Sketches, chiefly ecclesiastical, to the...","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,"[The World in which I live, and my place in it...","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [66]:
data['Identifier'].is_unique

True

# Changing the Index of a DataFrame

In [70]:
data.set_index('Identifier',inplace =True)

KeyError: 'Identifier'

In [71]:
data.head()

,Place of Publication,Title,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,
206,London,Walter Forbes. [A novel.] By A. A,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London; Virtue & Yorston,All for Greed. [A novel. The dedication signed...,"BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,Love the Avenger. By the author of “All for Gr...,"BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,"Welsh Sketches, chiefly ecclesiastical, to the...","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,"[The World in which I live, and my place in it...","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [72]:
data.loc[206]

Place of Publication                                               London
Title                                   Walter Forbes. [A novel.] By A. A
Contributors                                              FORBES, Walter.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                              British Library HMNTS 12641.b.30.
Name: 206, dtype: object

In [74]:
data.get_dtype_counts()

object    6
dtype: int64

In [79]:
data.loc[1905]

Place of Publication                                              Firenze
Title                   Gli Studi storici in terra d'Otranto ... Framm...
Contributors            S., L. G. D.|SIMONE, Luigi Giuseppe Oronzo Mar...
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                              British Library HMNTS 10136.g.22.
Name: 1905, dtype: object

In [81]:
data.loc[1905:,'Place of Publication'].head(10)

Identifier
1905        Firenze
1929      Amsterdam
2836         Savona
2854         London
2956          Paris
2957          Paris
3017    Puerto-Rico
3131       New York
4598           Hull
4884         London
Name: Place of Publication, dtype: object

In [82]:
regex = r'^(\d{4})'

In [93]:
extr = data['Place of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identifier
206    NaN
216    NaN
218    NaN
472    NaN
480    NaN
Name: Place of Publication, dtype: object

In [88]:
data['Place of Publication'].isnull()

Identifier
206        False
216        False
218        False
472        False
480        False
481        False
519        False
667        False
874        False
1143       False
1280       False
1808       False
1905       False
1929       False
2836       False
2854       False
2956       False
2957       False
3017       False
3131       False
4598       False
4884       False
4976       False
5382       False
5385       False
5389       False
5432       False
6036       False
6821       False
7521       False
           ...
4053464    False
4063671    False
4072044    False
4077038    False
4079258    False
4079262    False
4112297    False
4112525    False
4112839    False
4113012    False
4113816    False
4114334    False
4114390    False
4114889    False
4114986    False
4115138    False
4116063    False
4117526    False
4117583    False
4117749    False
4117751    False
4117752    False
4156359    False
4157746    False
4157862    False
4158088    False
4158128    False
4159563    False
4159587    False
4160339    False
Name: Place of Publication, Length: 8287, dtype: bool

In [94]:
df['Date of Publication']

KeyError: 'Date of Publication'

In [96]:
data.loc[4157862]

Place of Publication                                  Newcastle-upon-Tyne
Title                   Local Records; or, Historical Register of rema...
Contributors             SYKES, John - Bookseller, of Newcastle-upon-Tyne
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks              British Library HMNTS|British Library HMNTS 01...
Name: 4157862, dtype: object

In [102]:
pub = data['Place of Publication']
london = pub.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [106]:
data.loc[206]

Place of Publication                                               London
Title                                   Walter Forbes. [A novel.] By A. A
Contributors                                              FORBES, Walter.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                              British Library HMNTS 12641.b.30.
Name: 206, dtype: object

In [105]:
data.head()

,Place of Publication,Title,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,
206,London,Walter Forbes. [A novel.] By A. A,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London; Virtue & Yorston,All for Greed. [A novel. The dedication signed...,"BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,Love the Avenger. By the author of “All for Gr...,"BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,"Welsh Sketches, chiefly ecclesiastical, to the...","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,"[The World in which I live, and my place in it...","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.